<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Titanic Dataset</title>
    <link rel="stylesheet" type="text/css" href="../static/project.css">
  </head>
  <body onload="remove_form_fields()">
    <h1>Titanic Dataset Problem:</h1>
    <p>This is the famous titanic dataset problem where we predict if a passenger could have survived the accident.</p>
    <h4>RMS Titanic</h4>
<p>The RMS Titanic was a British passenger liner that sank in the North Atlantic Ocean in the early morning hours of 15 April 1912, after it collided with an iceberg during its maiden voyage from Southampton to New York City. There were an estimated 2,224 passengers and crew aboard the ship, and more than 1,500 died, making it one of the deadliest commercial peacetime maritime disasters in modern history. The RMS Titanic was the largest ship afloat at the time it entered service and was the second of three Olympic-class ocean liners operated by the White Star Line. The Titanic was built by the Harland and Wolff shipyard in Belfast. Thomas Andrews, her architect, died in the disaster.
</p>
<h4>Fill out the details of the pessenger:</h4>
<form class="titanic_info" action="{{url_for('Tresult')}}" method="get">
  <label for="Name">Name:</label>
  <input type="text" id="Name" name="name" placeholder="NAME" required>
  <p>Sex:
  <input type="radio" id="sex_male" name="sex" value="male" required>
  <label for="sex_male">Male</label>
  <input type="radio" id="sex_female" name="sex" value="female" required>
  <label for="sex_female">Female</label>
  </p>
  <label for="Age">Age:</label>
  <input type="text" name="age" id="Age" placeholder="AGE" required>
<p>Passenger Class:
  <select class="dropdown" name="class" required>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
  </select>
  <br>
  <br>
  <input type="submit" name="submit" placeholder="Submit">
</p>
</form>
  </body>
</html>
